
#header {
    background: white;
    height: 50px;
    width: 100%
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.YOUTH {
    max-width: 1px;
    position: relative;
    bottom: -15px;
    right: -8%;
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
    font-family: 'Rubik', sans-serif;
}

#header a {
    color: black;
    text-decoration:none;
}

.nickname {
    max-width: 1px;
    @import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
    position: relative;
    bottom: 7px;
    right: -85%;
    font-family: 'Angkor', cursive;
}

.circle {
    position: relative;
    bottom: 35px;
    right: -90%;
    width: 30px;
    height: 30px;
}

.video {
    position: relative;
    left: 300px;
    bottom: -100px;
}

.foo {
    width: 904px;
    height: 490px;
    background: url('video.png') no-repeat;
    position: relative;
    left: 250px;
    top: 10px;
}

    .foo .bar {
        background: #fdd;
        height: 220px;
        width: 310px;
        position: absolute;
        left: 20px;
        top: 25px;
    }

*, *::before, *::after {
    box-sizing: border-box;
}

.custom-field {
    font-size: 14px;
    position: relative;
    right: -320px;
    bottom: -50px;
    border-top: 20px solid transparent;
}


/*
    Стиль поля input в основном предназначен для его сброса, например удаления внешнего вида и границы.
    Обратите внимание, что ширина input определяет размер элемента custom-field, и еще одна важная деталь — 
    это отступы, которые нам нужно будет сопоставить при размещении элемента placeholder.
*/

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    padding: 12px;
    border-radius: 10px;
    width: 700px;
    font-size: 14px;
}

    .custom-field .placeholder {
        position: absolute;
        left: 12px;
        bottom: 50%;
        top: 22px;
        transform: translateY(-50%);
        color: #aaa;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    }


.custom-field input:focus + .placeholder {
    top: -16px;
    font-size: 15px;
    color: #222;
}

.search{
    position: relative;
    left: 320px;
    top: 66px;
}

.Textarea {
    position: relative;
    top: 90px;
    left: 255px;
    border-radius: 10px;
    margin-bottom: 200px;
    padding: 100px;
}

.button_video {
    border: none;
    position: relative;
    left: 1200px;
    top: 300px;
    
}

.button_book {
    border: none;
    position: relative;
    left: 1171px;
    top: 274px;
}

.button_music {
    border: none;
    position: relative;
    left: 1138px;
    top: 248px;
}

