
#header {
    background: white;
    height: 50px;
    width: 100%
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.YOUTH {
    max-width: 1px;
    position: relative;
    bottom: -15px;
    right: -8%;
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
    font-family: 'Rubik', sans-serif;
}

.nickname {
    max-width: 1px;
    @import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
    position: relative;
    bottom: 7px;
    right: -85%;
    font-family: 'Angkor', cursive;
}

.circle {
    position: relative;
    bottom: 35px;
    right: -90%;
    width: 30px;
    height: 30px;
}


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');



button {
    cursor: pointer;
    padding: 2px 5px;
    color: #ccc;
    background: transparent;
    border: none;
    outline: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #171717;
}

main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

    main h3 {
        text-align: center;
        width: 100%;
        word-spacing: 0.5rem;
        font-size: 2rem;
        color: #bbbbbb;
    }

.pdf-viewer {
    background-color: #333;
    background-color: #fff;
    margin: auto;
}

.hidden {
    display: none;
}

footer {
    position: sticky;
    bottom: 0;
    height: 10vh;
    background-color: #000000;
}

.pagination {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    font-size: 1.4rem;
}

    .pagination span {
        font-size: 1.1rem;
        margin: 0 10px;
    }

    .pagination button {
        font-size: 1.5rem;
    }

button:active > * {
    color: #8d8d8d;
}

footer ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

    footer ul li:first-child {
        margin-left: 20px;
    }

    footer ul li:last-child {
        margin-right: 20px;
    }

#zoomValue {
    display: inline-block;
    font-size: 0.9rem;
    width: 60px;
    vertical-align: center;
}

#openPDF {
    font-size: 1.2rem;
    padding: 2px 5px;
    font-weight: 700;
    color: #eee;
}

