@import url('https://fonts.googleapis.com/css2?family=Andika&family=Dosis:wght@300&family=M+PLUS+Rounded+1c:wght@300;400&family=Rubik+Mono+One&family=Sirin+Stencil&family=Spartan&family=Text+Me+One&family=Titan+One&display=swap');

body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}





.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    padding: 12px;
    border-radius: 10px;
    width: 700px;
    font-size: 14px;
}

    .custom-field .placeholder {
        position: absolute;
        left: 12px;
        bottom: 50%;
        top: 22px;
        transform: translateY(-50%);
        color: black;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    }


.custom-field input:focus + .placeholder {
    top: -16px;
    font-size: 15px;
    color: #222;
}

.search{
    position: relative;
    left: 320px;
    top: 66px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


button {
    cursor: pointer;
    padding: 2px 5px;
    color: #ccc;
    background: transparent;
    border: none;
    outline: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #171717;
}

main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

    main h3 {
        text-align: center;
        width: 100%;
        word-spacing: 0.5rem;
        font-size: 2rem;
        color: #bbbbbb;
    }

.pdf-viewer {
    background-color: #333;
    background-color: #fff;
    margin: auto;
}

.hidden {
    display: none;
}

footer {
    position: sticky;
    bottom: 0;
    height: 10vh;
    background-color: #000000;
}

.pagination {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    font-size: 1.4rem;
}

    .pagination span {
        font-size: 1.1rem;
        margin: 0 10px;
    }

    .pagination button {
        font-size: 1.5rem;
    }

button:active > * {
    color: #8d8d8d;
}

footer ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

    footer ul li:first-child {
        margin-left: 20px;
    }

    footer ul li:last-child {
        margin-right: 20px;
    }

#zoomValue {
    display: inline-block;
    font-size: 0.9rem;
    width: 60px;
    vertical-align: center;
}

#openPDF {
    font-size: 1.2rem;
    padding: 2px 5px;
    font-weight: 700;
    color: #eee;
}









/*
All bootstrap's classes:
*/

.navbar-nav li {
    padding-right: 40px;
} 

.nav-link { font-size: 1.1em !important}

