


body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




.nickname {
    max-width: 1px;
    @import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
    position: relative;
    bottom: 7px;
    right: -85%;
    font-family: 'Angkor', cursive;
}

.circle {
    position: relative;
    bottom: 35px;
    right: -90%;
    width: 30px;
    height: 30px;
}






